    /* ▼タブ */
    #tabcontrol a {
        display: inline-block;
        /* インラインブロック化 */
        border-width: 1px 1px 0px 1px;
        /* 下以外の枠線を引く */
        border-style: solid;
        /* 枠線の種類：実線 */
        border-color: black;
        /* 枠線の色：黒色 */
        border-radius: 0.75em 0.75em 0 0;
        /* 枠線の左上角と右上角だけを丸く */
        padding: 0.75em 1em;
        /* 内側の余白 */
        text-decoration: none;
        /* リンクの下線を消す */
        color: black;
        /* 文字色：黒色 */
        background-color: white;
        /* 背景色：白色 */
        font-weight: bold;
        /* 太字 */
        position: relative;
        /* JavaScriptでz-indexを調整するために必要 */
    }

    /* ▼タブにマウスポインタが載った際（任意） */
    #tabcontrol a:hover {
        text-decoration: underline;
        /* リンクの下線を引く */
    }

    /* ▼タブの中身 */
    #tabbody .pages {
        width: 362px;
        height: 720px;
        border: 1px solid black;
        /* 枠線：黒色の実線を1pxの太さで引く */
        margin-top: -1px;
        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
        padding: 1em;
        /* 内側の余白量 */
        background-color: white;
        /* 背景色：白色 */
        position: relative;
        /* z-indexを調整するために必要 */
        z-index: 0;
        /* 重なり順序を「最も背面」にするため */
    }

    /* ▼タブの配色 */
    /* 1つ目のタブとその中身用の配色 */
    #tabcontrol a:nth-child(1),
    #tabbody div:nth-child(1).pages {
        background-color: #ffffdd;
    }

    /* 2つ目のタブとその中身用の配色 */
    #tabcontrol a:nth-child(2),
    #tabbody div:nth-child(2).pages {
        background-color: #ddffdd;
    }

    /* 3つ目のタブとその中身用の配色 */
    #tabcontrol a:nth-child(3),
    #tabbody div:nth-child(3).pages {
        background-color: #ddddff;
    }

    .connect-state {
        display: flex;
    }

    .connect-btn {
        width: 140px;
        height: 35px;
        border-radius: 8px;
        font-size: 14pt;
        background-color: blue;
        color: white;
    }

    /*
    .connect-btn.display-none {
        display: none;
    }
*/
    .display-none {
        display: none;
    }

    .status {
        margin-top: 6px;
        margin-left: 10px;
        font-size: 14pt;
    }

    .actbtn {
        width: 103px;
        height: 103px;
        padding: 10px;
        border-radius: 20px;
        box-sizing: border-box;
        border: 1px solid #0e2048;
        background: #59e0b8;
        cursor: pointer;
        font-size: 24pt;
        color: white;
        -webkit-user-select: none;
        user-select: none;
    }

    .actbtn img {
        width: 30px;
        display: inline-flex;
        /* 修正 */
        justify-content: center;
        /* 追加 左右中央 */
        align-items: center;
        /* 追加 上下中央 */
    }

    .actbtn img.flip-horizontal {
        transform: scale(-1, 1);
    }

    .actbtn img.flip-vertical {
        transform: scale(1, -1);
    }

    .actbtn img.flip-horizontal.flip-vertical {
        transform: scale(-1, -1);
    }

    .img_top {
        width: 300px;
    }

    .img_front {
        width: 300px;
    }


    .tit {
        width: 90px;
    }

    .tit.lft {
        background: blue;
    }

    .tit.rit {
        background: orange;
    }

    td {
        text-align: center;
    }

    th {
        /*    background-color: lightgrey;*/
        height: 50px;
    }

    .ctrl_container {
        display: flex;
        flex-direction: row;
    }

    .inner_container {
        margin-left: 0px;
        margin-right: 10px;


    }

    input.range {
        width: 154px;
    }

    input.ra {
        width: 100px;
    }


    .update {
        width: 90px;
        height: 35px;
        border-radius: 8px;
        font-size: 10pt;
        background-color: black;
        color: white;
    }

    .tit {
        width: 80px;
        text-align: center;
    }

    .tit.lft {
        background: blue;
        color: white;
    }

    .tit.rit {
        background: orange;
        color: black;
    }

    .setang {
        margin-left: 120px;
        margin-top: 20px;
    }




    .unselectable {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .layer-img {
        position: absolute;
    }

    .layer-img.hidden {
        visibility: hidden;
    }

    .trim_foot_frame {
        overflow: hidden;
        width: 360px;
        height: 240px;
        position: absolute;
    }

    .trim_leg_frame {
        overflow: hidden;
        width: 360px;
        height: 310px;
        position: absolute;
    }

    #leg_frame {
        width: 360px;
        height: 310px;
        background-color: black;
    }

    #foot_frame {
        width: 360px;
        height: 240px;
        background-color: black;
        overflow: hidden;
    }

    div.degree {
        width: 50px;
        background-color: aqua;
        border: 1px solid;
        text-align: center;
        border-radius: 5px;
    }

    div.incdecbutton {
        width: 40px;
        background-color: burlywood;
        border: 1px solid;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }

    div.incdecbutton.reset {
        width: 50px;
        background-color: chartreuse;
    }